<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://localhost/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
   		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   		<property name="hibernate.connection.url">jdbc:mysql://localhost/RMS</property>
        <property name="connection.username">root</property>  
        <property name="connection.password">root</property>   
   		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping resource="DBXML/Resource.hbm.xml"/>
    <mapping resource="DBXML/UserAccount.hbm.xml"/>
    <mapping resource="DBXML/Unit.hbm.xml"/>
    <mapping resource="DBXML/Module.hbm.xml"/>
    <mapping resource="DBXML/Activity.hbm.xml"/>
    <mapping resource="DBXML/Process.hbm.xml"/>
    <mapping resource="DBXML/Technology.hbm.xml"/>
    <mapping resource="DBXML/Project.hbm.xml"/>
    <mapping resource="DBXML/ResourceUsageHistory.hbm.xml"/>
    </session-factory>  
  
</hibernate-configuration>  